.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro{
  position: absolute;
  width: 100vw;
  top: calc(40% - 60px)
}
.footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer img {
  margin-left: 0.5rem;
}


.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.appear{
  animation: appear 1.5s 2.5s ease-out forwards;
  overflow: none;
  max-height: 0px; opacity: 0;
}

.appear:focus-within,
.appear:hover{
  max-height: 80px;
  opacity: 1;
  transition: all .5s;
  animation-duration: 0s;
  animation-duration: 0s;
}

@keyframes appear{
  from{ max-height: 0px; opacity: 0;}
  to{ max-height: 80px; opacity: 1;}
}