.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

.intro{
  position: absolute;
  width: 100vw;
  top: calc(40% - 60px);
  background-color: white;
}
.footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: grayscale();
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.appear{
  animation: appear 1.5s 2.5s ease-out forwards;
  overflow: none;
  max-height: 0px; opacity: 0;
}


.appear:hover{
  max-height: 80px;
  opacity: 1;
  transition: all .5s;
  animation-duration: 0s;
  animation-duration: 0s;
}

@keyframes appear{
  from{ max-height: 0px; opacity: 0;}
  to{ max-height: 80px; opacity: 1;}
}